* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
    /* background-color: blueviolet; */
}

.noticePage{
    margin: auto;
    /* text-align: center; */
    /* width: 30%; */
}
.sub{
    color: white;
    font-size: 30px;
}

.heder {
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.628) , rgba(0, 0, 0, 0.643) , rgba(0, 0, 0, 0.635)), url(../Image/Staff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
}

.heder h2 {
    text-decoration: underline;
    color:white;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;

}

.heder h1 {
     
    color: white;
    padding-top: 30px;
}

textarea.form-control {
    margin: 30px auto;
    /* margin-top: 30px; */
    width: 80%;
    text-align: center;
    height: 50vh;
}
.photto input{
    text-align: center;
    color: white;
    /* margin-bottom: 30px; */
    /* background-color: aqua; */
    margin:20px auto;
    width: 40%;
}

@media (max-width:1192px) {
    textarea.form-control
{
    height: 45vh;
}
}
@media (max-width:469px) {
    textarea.form-control
{
    height: 40vh;
}
}