*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contactback{
    height: auto;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.637) , rgba(0, 0, 0, 0.61) ,rgba(0, 0, 0, 0.541)), url("../image/Contact.jpg");
   padding-bottom: 50px;
    background-size: cover;
    background-position:center;
    
}
.contactback hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 1.25;
    color: white;
}
.contactback h1{
    text-align: center;
    color: white;
     /* text-decoration: underline 2px solid white; */
    padding-top: 10px;
}
.contactback h2{
    text-align: center;
    color: white;
  
    /* padding: 20px; */
    padding-bottom: 50px;
}
.Contactbox{
    height: auto;
    /* width: 750px; */
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    margin: auto;
    box-shadow: 7px 7px 7px white;
    /* list-style: none; */
    padding-left: 20px;
  
   
}
.Contactbox ul li{
    /* font-size: 1.5rem; */
    padding: 10px;
    list-style: none;
    /* padding-right: 40px; */
}
@media (max-width:785px){
    .Contactbox{
        height: unset;
     width: auto;
    }
    
 } 
 @media (max-width:410px){
    .contactback{
     height: unset;
}
}