*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .hadder{
    display: flex;
    justify-content: space-between;
}
.hadder img {
    height: 100px;
    width: 121px;
}
.hadding{
    margin-bottom: 50px;
    margin-top: 60px;
}
.decription {
    text-align: end;
}
.emploreg{
    margin-top: 10px;
}

/* .contain{
    margin-top: 10px;
} */
