*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.hadding{
    margin-bottom: 50px;
    margin-top: 60px;
}
.decription {
    text-align: end;
}
.container{
    margin-top: 10px;
}