*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageMcom{
    background:linear-gradient(rgba(0, 0, 0, 0.637) , rgba(0, 0, 0, 0.61) ,rgba(0, 0, 0, 0.541)), url("/src/component/Image/Msc-logo.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position:center;
}
.imageMcom h1{
    color: white;
    text-align: center;
    padding-top:200px;
}
.imageMcom h2{
    color: white;
    text-align: center;
   
}
.box{
    height: auto;
    width: 100%;
    background-color: rgba(222, 184, 135, 0.575);
    text-align: center;padding-bottom: 30px
}

.box h1{
    text-align: center;
    padding-top: 20px;

}
.box-2{
    height:auto;
    width: 100%;
    background-color:rgb(154, 154, 197);
    text-align: center;
    padding-bottom: 20px;
}
.box-2 h1{
    text-align: center;
    padding-top: 60px;

}
.box-3{
    height:auto;
    width: 100%;
    background-color:rgb(167, 167, 214);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
/* .cols{
   
    background-color:w;
    text-align: center;

} */
.rows .cols.col-lg-5 {
    /* background-color: white; */
    /* padding: 20px 0; */
    /* height: 50px; */
    margin-top: 40px;

    
}
/* .cols{
    height: 90px;
    text-align: center;
    margin: auto;
} */
.rows .cols.col-lg-5 h4{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
    color: black;
}
.box-4{
    height:auto;
    width: 100%;
    background-color:rgb(143, 143, 216);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.row.row {
    margin-top: 28px;
}
