@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}.wapper .ms-auto
{
    gap: 20px;
    font-size: 20px;
    color: #b71109;
}
.wapper .bg-body-tertiary
{
background-color: white !important;

}

.wapper .ms-auto button
{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    background-color: rgb(216, 18, 18);
    text-align: center;
    color: #fff;
    border: 0;
  
    
}
.ms-auto  a {
    color: #b71109;
    text-decoration: none;
}


.wapper .name h3
{
    color: #b71109;
}


/* ............wapper-sec.......... */

.wapper-sec .bg-body-tertiary
{
    background-color: rgb(32 13 105) !important;
    height: auto;
    padding: 20px;
}

.wapper-sec .style {
    border: 2px solid white;
    background-color: white;
}

.wapper-sec .nav-link {
    height: 40px;
    width: 200px;
    border: 2px solid gray;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color: black;
}
.background{
    height: 600px;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.637) , rgba(0, 0, 0, 0.61) ,rgba(0, 0, 0, 0.541)), url("../Image/tagore.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
 
}