*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bcom-box{
    height: 100vh;
    width: 100%;
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../Image/commerce.jpg') ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.bcom{
    color: white;
    text-align: center;
    padding-top: 50px;
}
.bcom-boxes .col-lg-3 {
    height: 200px;
    border: 2px solid white;
    margin: auto;
    border-radius: 20px;
    padding: 40px 0px;

}
.bcom-boxes{
    text-align: center;
    color: white;
    /* padding: 20px 0; */
    margin: 20px;
}
.bcom-boxes svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    font-size: 60px;
    padding-bottom: 10px;
}
.bcom-boxes.row {
    margin-top: 100px;
}
.bcom-boxes .col-lg-3:hover{
    background-color: rgba(3, 3, 41, 0.873);
    border: 0;
}

